/* @font-face {
  font-family: "Butler Stencil";
  src: url("./fonts/ButlerStencil/ButlerStencil.woff2") format("woff2"),
    url("./fonts/ButlerStencil/ButlerStencil.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("./fonts/Bulter/Butler.woff2") format("woff2"),
    url("./fonts/Bulter/Butler.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
